---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"blog">["data"];

const { title = "", description, heroImage = "/hero.jpeg", icon } = Astro.props;
const bgClasses = [
    "hover:shadow-ppinkHover",
    "hover:shadow-pgreenHover",
    "hover:shadow-pblueHover",
    "hover:shadow-pyellow",
];
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/*.{jpeg,jpg,png,gif,svg}",
);
if (!images[heroImage])
    throw new Error(
        `"${heroImage}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,svg}"`,
    );
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <Header />
        <main class="container mx-auto md:px-10 text-white">
            <article>
                <div class="relative mb-20" transition:animate="fade">
                    <span class="bg-black bg-opacity-25 w-full h-full absolute"
                    ></span>
                    <div class="absolute bottom-10 md:left-20 left-6">
                        <h1
                            class="text-4xl md:text-9xl font-semibold text-shadow"
                        >
                        </h1>
                        <p set:html={description} />
                    </div>
                    <Image
                        src={images[heroImage]()}
                        alt={title}
                        class="h-full w-full object-cover"
                    />
                </div>
                <div class="text-black px-6 md:px-0">
                    <div>
                        <div
                            class="text-sm text-pblack flex items-center justify-between"
                        >
                            <Icon
                                name={icon}
                                class="text-5xl"
                                transition:animate="fade"
                            />
                        </div>
                        <hr />
                    </div>
                    <div
                        class="flex justify-between py-10 md:flex-row flex-col"
                    >
                        <div class="prose md:w-1/2 flex flex-col gap-1">
                            <slot />
                        </div>
                    </div>
                </div>
            </article>
            <Footer />
        </main>
    </body>
</html>
